Idea.docx
outline.docx
*.docx
.vscode
*.exe
gpt
Banking-Management-System
obj/
bin/
wwwroot

# use hash table to store words
# use tree for auto complete
# save words into folders: hashTable<string, linklist>()
# Folder: name, parentFolder
# TreeNode: Folder, 

# Folder: name, list<Folder> children, linkedlist<string> items
# print tree directory: foreach Folder child in children
# hash table: <string, Folder>