@model WJResultVM
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    int wjIndex = 0;
    string buttonText = "Play again";
    if (Model.NextIndex > 0) {
        wjIndex = Model.NextIndex;
        buttonText = "Next";
    }
    int noCorrectAnswers = HttpContextAccessor.HttpContext?.Session.GetInt32("NoCorrectAnswers") ?? 0;
    int noQuestions = HttpContextAccessor.HttpContext?.Session.GetInt32("NoQuestions") ?? 0;
}
@if (Model.Won) {
    <h1 class="fw-bold">YOU ARE CORRECT!</h1>
} else {
    <h1 class="fw-bold">Incorrect</h1>
    <div>The correct word: <span class="fs-5">@Model.OriginalWord</span></div>
}
<div class="row p-3">
    <div class="col-6">
        Your score: @noCorrectAnswers/@noQuestions
    </div>
    <div class="col-6 text-end">
        <form asp-action="WordJumble" asp-controller="Home" method="post">
            <input type="hidden" name="i" value="@wjIndex" />
            <button type="submit" class="btn btn-primary">@buttonText</button>
            <a type="button" asp-action="Library" class="btn btn-secondary @(wjIndex > 0 ? "d-none" : "")">Exit</a>
        </form>
    </div>
</div>