@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ae9cff;
}
.height-400 {
  height: 400px;
}

.card-body {
  padding: 0;
}

.form-control:focus, .btn:focus {
  border-color: rgb(176, 158, 255);
  box-shadow: 0 0 0 0.2rem rgba(176, 158, 255, 0.25);
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#saved-words-section {
  overflow: auto;
  height: 332px;
}

.a-disabled {
  color: rgb(190, 187, 187);
  pointer-events: none;
  text-decoration: none;
}

#saved-words-section a:hover {
  color: blueviolet!important;
}

.max-content {
  width: max-content;
}

#search-field {
  border: none;
  position: relative;
  z-index: 100;
}
.p-absolute {
  position: absolute;
  top: 25%;
  z-index: 1;
}