@{
}

<div class="widget">
    <div class="search-box">
        <input type="text" placeholder="algorithms" id="inp-word" />
        <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
        <div class="result" id="result">


        </div>
    </div>
</div>
