@model WordJumbleVM

<div class="card-body">
    <div class="text-center pt-3">WORD JUMBLE</div>
    <div class="my-4">
        <div class="" id="saved-words-section">
            @await Html.PartialAsync("_JumbleWord", Model)
        </div>
    </div>
</div>
